- var array = {1:18, 2:17, 3:16, 4:15, 5:14, 6:13, 7:12, 8:11, 9:21, 10:22, 11:23, 12:24, 13:25, 14:26, 15:27, 16:28, 17:55, 18:54, 19:53, 20:52, 21:51, 22:61, 23:62, 24:63, 25:64, 26:65, 27:85, 28:84, 29:83, 30:82, 31:81, 32:71, 33:72, 34:73, 35:74, 36:75, 37:48, 38:47, 39:46, 40:45, 41:44, 42:43, 43:42, 44:41, 45:31, 46:32, 47:33, 48:34, 49:35, 50:36, 51:37, 52:38}

//- var n = 1;
   each val, index in array
    div(id="diente-"+val,class="cursor cursor-"+index, data-diente=""+val, data-orden=""+index)
    - n++

//- var n = 1;
   each val, index in array
    div(class="recuadro recuadro-"+index)
    - n++
