//- var n = 1;
  while n <= 52
    div(class="hallazgos corona bueno corona-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoInicio bueno aparatoOrtoFijoInicio-"+n)
    - n++

//-var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoFin bueno aparatoOrtoFijoFin-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos linea bueno linea-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos bueno aparatoOrtoRemovible aparatoOrtoRemovible-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos coronaTemporal malo coronaTemporal-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos diastema diastema-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos piezaAusente piezaAusente-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos piezaClavija piezaClavija-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos erupcion erupcion-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos piezaExtruida piezaExtruida-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos piezaIntruida piezaIntruida-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos piezaSupernumeraria piezaSupernumeraria-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos edentulo edentulo-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos munon bueno munon-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos fosas fosas-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos fusion fusion-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos fracturaCoronal fracturaCoronal-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos fracturaIncisal fracturaIncisal-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos fracturaRaizCorona fracturaRaizCorona-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos geminasion geminasion-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos giroversion giroversionDistal giroversionDistal-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos giroversion giroversionMesial giroversionMesial-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos protesisFijaInicio malo protesisFijaInicio-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos protesisFijaFin malo protesisFijaFin-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos protesisRemovible bueno protesisRemovible-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos protesisTotal bueno protesisTotal-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos transposicion transposicion-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos tratamientoPulparTC-PC bueno tratamientoPulparTC-PC-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos tratamientoPulparPP bueno tratamientoPulparPP-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos lesionCaries direccion-arriba centro direccion-arriba-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos lesionCaries direccion-abajo centro direccion-abajo-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos lesionCaries direccion-izquierda centro direccion-izquierda-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos lesionCaries direccion-derecha centro direccion-derecha-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos lesionCaries direccion-centro direccion-centro-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos restauracionTemporal direccion-arriba nocentro direccion-arriba-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos restauracionTemporal direccion-abajo nocentro direccion-abajo-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos restauracionTemporal direccion-izquierda nocentro direccion-izquierda-"+n)
    - n++

- var n = 1;
  while n <= 52
    div(class="hallazgos restauracionTemporal direccion-derecha nocentro direccion-derecha-"+n)
    - n++

- var n = 1;
  while n <= 52
    div(class="hallazgos restauracionTemporal direccion-centro direccion-centro-"+n)
    - n++
